


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    
}
.site-main{
    
    background: #7297EF;
  
    width: 100%;
    height: 600px;
    margin: auto;
   
   
   
}
.main-container{
   position: relative;
    background: #fff;
 
    width: 900px;
    text-align: center;
   
    height: 400px;
    margin: auto;
    top: 100px;
    border-radius: 8px;
    padding: 30px 70px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.55);
   
}
.main-list{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-item:not(:last-child){
    margin-right: 40px;

}
.main-item{
    margin: 0;
    text-align: center;
}
.main-item:hover{
    background: cornsilk;
    border-radius: 5px;
}
.main-item-title{
    font-size: 20px;
    text-transform: uppercase;
    color: #7297EF;

}
.main-item-text{
    color: #666;
}
.wd{
    font-size: 40px;
    color: #7297EF;
}
.wdd{
    font-size: 20px;
}


